<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ bootstrapCSS }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ favicon }}">
</head>
</html>

<p class="alert alert-info">Python Flask Development</p>
<code>16 Jan 2017</code>
<code>17 Jan 2017</code>
<code>18 Jan 2017</code>
<code>19 Jan 2017</code>
<code>20 Jan 2017</code>

<div><a href="{{ createLink }}">Create</a></div>
<div><a href="{{ modifyLink }}">Modify</a></div>

<div>
<form method="post">
	<input type="text" value="{{ request.form['name'] }}" name="name" />
	<button type="submit" name="submit">Submit</button>
</form>
</div>